<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>opencover</Format>          
          <ExcludeByFile>**/Tests.RunLogic/**,**/*.cshtml,**/Hw*/Program.cs,**/Hw*/Program.fs,**/Homework3/Hw3.Mutex/WithMutex.cs
,**/Homework5/**,**/Homework6/**,**/Homework7/**,**/Homework8/**,**/Homework9/**,**/Homework10/**,**/Homework11/**,**/Homework12/**,**/Homework13/**</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>